/* line 4, ../../source/sass/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

/* line 5, ../../source/sass/_reset.scss */
body {
  background-color: white;
}

/* line 18, ../../source/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 19, ../../source/sass/_reset.scss */
html {
  line-height: 1;
}

/* line 20, ../../source/sass/_reset.scss */
*:focus, textarea:focus, input:focus {
  outline: none;
}

/* line 21, ../../source/sass/_reset.scss */
div, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 22, ../../source/sass/_reset.scss */
textarea {
  resize: none;
  overflow: hidden;
}

/* line 23, ../../source/sass/_reset.scss */
::-webkit-input-placeholder {
  color: grey;
}

/* line 24, ../../source/sass/_reset.scss */
:-ms-input-placeholder {
  color: grey;
}

/* line 25, ../../source/sass/_reset.scss */
:-moz-placeholder {
  color: grey;
}

/* line 26, ../../source/sass/_reset.scss */
::-moz-placeholder {
  color: grey;
}

/* line 27, ../../source/sass/_reset.scss */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 29, ../../source/sass/_reset.scss */
a, a:hover {
  text-decoration: none;
}

/* line 30, ../../source/sass/_reset.scss */
iframe {
  background-color: transparent !important;
}

/* line 31, ../../source/sass/_reset.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 32, ../../source/sass/_reset.scss */
* {
  word-wrap: keep-word;
}

/* line 1, ../../source/sass/_index.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  background-color: white;
  font-family: Consolas, monaco, monospace;
}
/* line 10, ../../source/sass/_index.scss */
html div#wrapper, body div#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  min-width: 480px;
  overflow: auto;
  overflow: hidden;
  background-color: green;
  background: linear-gradient(to right, #e8e9e3 0%, #e8e9e3 50%, #000000 50%, #ffffff 50%, #ffffff 100%);
  /* W3C */
}
/* line 22, ../../source/sass/_index.scss */
html div#wrapper header#header, html div#wrapper article#article, html div#wrapper footer#footer, body div#wrapper header#header, body div#wrapper article#article, body div#wrapper footer#footer {
  position: absolute;
  width: 100%;
}
/* line 26, ../../source/sass/_index.scss */
html div#wrapper header#header div.wrap, html div#wrapper article#article div.wrap, html div#wrapper footer#footer div.wrap, body div#wrapper header#header div.wrap, body div#wrapper article#article div.wrap, body div#wrapper footer#footer div.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  /* line 44, ../../source/sass/_index.scss */
  html div#wrapper header#header div.wrap, html div#wrapper article#article div.wrap, html div#wrapper footer#footer div.wrap, body div#wrapper header#header div.wrap, body div#wrapper article#article div.wrap, body div#wrapper footer#footer div.wrap {
    position: relative;
    width: 96%;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}

/* line 1, ../../source/sass/_header.scss */
header#header {
  height: 80px;
  background-color: #544b5c;
}
/* line 10, ../../source/sass/_header.scss */
header#header section#bar {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 30px;
  margin-top: -15px;
  vertical-align: middle;
  background-color: #50424c;
  color: #975059;
  text-align: center;
}
/* line 22, ../../source/sass/_header.scss */
header#header section#bar div#logo {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 600px) {
  /* line 39, ../../source/sass/_header.scss */
  header#header section#bar div#logo {
    background-image: url("../imgs/logo.mobile.png");
    margin: 0 auto;
    background-position: center center;
  }
}

/* line 1, ../../source/sass/_footer.scss */
footer#footer {
  height: 32px;
  background-color: #544b5c;
  border-bottom: 4px #50424c solid;
  bottom: 0;
}
/* line 12, ../../source/sass/_footer.scss */
footer#footer nav#nav {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 2px;
}
/* line 19, ../../source/sass/_footer.scss */
footer#footer nav#nav ul#btns {
  position: relative;
  list-style-type: none;
  width: auto;
  height: 100%;
}
/* line 26, ../../source/sass/_footer.scss */
footer#footer nav#nav ul#btns li {
  position: relative;
  display: inline-block;
  width: auto;
  cursor: pointer;
  height: 100%;
}
/* line 34, ../../source/sass/_footer.scss */
footer#footer nav#nav ul#btns li p {
  font-size: 14px;
  width: auto;
  color: #9d555a;
  text-transform: uppercase;
}
/* line 42, ../../source/sass/_footer.scss */
footer#footer nav#nav ul#btns li.line p {
  color: #3b745a;
}
/* line 48, ../../source/sass/_footer.scss */
footer#footer nav#nav ul#btns li.active p {
  color: #ce626a;
}
/* line 57, ../../source/sass/_footer.scss */
footer#footer div#terms {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 2px;
}
/* line 65, ../../source/sass/_footer.scss */
footer#footer div#terms ul {
  position: relative;
  list-style-type: none;
  width: auto;
}
/* line 70, ../../source/sass/_footer.scss */
footer#footer div#terms ul li {
  position: relative;
  display: inline-block;
  width: auto;
  cursor: pointer;
}
/* line 75, ../../source/sass/_footer.scss */
footer#footer div#terms ul li p {
  font-size: 12px;
  width: auto;
  color: #9d555a;
}
/* line 82, ../../source/sass/_footer.scss */
footer#footer div#terms ul li.line p {
  color: #ce626a;
}
/* line 90, ../../source/sass/_footer.scss */
footer#footer section#bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #544b5c;
  color: #975059;
  text-align: center;
}
@media screen and (max-width: 680px) {
  /* line 1, ../../source/sass/_footer.scss */
  footer#footer {
    height: 32px;
  }
  /* line 110, ../../source/sass/_footer.scss */
  footer#footer nav#nav {
    width: 100%;
    top: 0px;
  }
  /* line 115, ../../source/sass/_footer.scss */
  footer#footer div#terms {
    width: 100%;
    top: 16px;
  }
  /* line 122, ../../source/sass/_footer.scss */
  footer#footer div#terms ul li p {
    color: #5e5b76;
  }
  /* line 127, ../../source/sass/_footer.scss */
  footer#footer div#terms ul li.line p {
    color: #ce626a;
  }
}

/* line 1, ../../source/sass/_article.scss */
article#article {
  height: auto;
  top: 80px;
  bottom: 26px;
}
/* line 7, ../../source/sass/_article.scss */
article#article div.wrap {
  overflow: hidden;
}
/* line 12, ../../source/sass/_article.scss */
article#article div#leftside, article#article div#rightside {
  display: table-row;
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  max-width: 480px;
}
/* line 22, ../../source/sass/_article.scss */
article#article div#leftside {
  background-color: #eeefea;
}
/* line 27, ../../source/sass/_article.scss */
article#article div#rightside {
  background-color: white;
}
/* line 32, ../../source/sass/_article.scss */
article#article div#sections {
  position: absolute;
  display: block;
  height: 500%;
  width: 100%;
  top: 0;
}
/* line 38, ../../source/sass/_article.scss */
article#article div#sections section {
  position: absolute;
  display: block;
  height: 20%;
  width: 100%;
  top: 0;
}
/* line 45, ../../source/sass/_article.scss */
article#article div#sections section:nth-child(2) {
  top: 20%;
}
/* line 48, ../../source/sass/_article.scss */
article#article div#sections section:nth-child(3) {
  top: 40%;
}
/* line 51, ../../source/sass/_article.scss */
article#article div#sections section:nth-child(4) {
  top: 60%;
}
/* line 55, ../../source/sass/_article.scss */
article#article div#sections section:nth-child(5) {
  top: 80%;
}
/* line 63, ../../source/sass/_article.scss */
article#article div.box {
  position: relative;
  margin: 25px 25px;
  width: auto;
  height: auto;
  min-width: 80px;
  min-height: 80px;
}
/* line 72, ../../source/sass/_article.scss */
article#article div.box img {
  margin: 10px 25px;
}
/* line 76, ../../source/sass/_article.scss */
article#article div.box.text {
  text-align: justify;
  text-justify: inter-word;
}
/* line 82, ../../source/sass/_article.scss */
article#article div.box.purple h1, article#article div.box.purple h2, article#article div.box.purple h3, article#article div.box.purple h4 {
  color: #5e5b76;
}
/* line 83, ../../source/sass/_article.scss */
article#article div.box.purple p {
  color: black;
}
/* line 87, ../../source/sass/_article.scss */
article#article div.box.green h1, article#article div.box.green h2, article#article div.box.green h3, article#article div.box.green h4 {
  color: #397359;
}
/* line 88, ../../source/sass/_article.scss */
article#article div.box.green p {
  color: black;
}
/* line 91, ../../source/sass/_article.scss */
article#article div.box.red {
  background-color: #9a4f54;
  background-color: #9a4f54;
}
/* line 94, ../../source/sass/_article.scss */
article#article div.box.red h1, article#article div.box.red h2, article#article div.box.red h3, article#article div.box.red h4 {
  color: #cd6068;
  color: black;
  font-weight: bold;
}
/* line 95, ../../source/sass/_article.scss */
article#article div.box.red p {
  color: white;
}
/* line 98, ../../source/sass/_article.scss */
article#article div.box h1, article#article div.box h2, article#article div.box h3, article#article div.box h4 {
  padding: 0 20px;
  margin: 10px 0;
  line-height: 1.5;
  font-weight: bold;
  height: auto;
  display: block;
  position: relative;
}
/* line 108, ../../source/sass/_article.scss */
article#article div.box h2 {
  font-size: 20px;
}
/* line 109, ../../source/sass/_article.scss */
article#article div.box h4 {
  font-size: 11px;
  margin-top: -10px;
  padding-bottom: 10px;
}
/* line 111, ../../source/sass/_article.scss */
article#article div.box p {
  padding: 0 20px;
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
}
/* line 120, ../../source/sass/_article.scss */
article#article ul.books {
  width: auto;
  height: auto;
  padding: 0px 0px 5px 0px;
  font-size: 0;
  list-style-type: none;
}
/* line 129, ../../source/sass/_article.scss */
article#article ul.books li.book {
  display: inline-block;
  position: relative;
  width: 102px;
  height: 125px;
  margin-top: 5px;
  margin-left: 25px;
  vertical-align: top;
  background-image: url("../imgs/book.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 138, ../../source/sass/_article.scss */
article#article ul.books li.book:last-child {
  display: none;
}
/* line 147, ../../source/sass/_article.scss */
article#article ul.books li.book span {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 10px;
  bottom: -60px;
}
@media screen and (max-width: 960px) {
  /* line 175, ../../source/sass/_article.scss */
  article#article ul.books li.book:last-child {
    display: inline-block;
  }
  /* line 186, ../../source/sass/_article.scss */
  article#article div.box h1, article#article div.box h2, article#article div.box h3, article#article div.box h4 {
    line-height: 1.3;
  }
  /* line 190, ../../source/sass/_article.scss */
  article#article div.box h2 {
    font-size: 18px;
  }
  /* line 192, ../../source/sass/_article.scss */
  article#article div.box p {
    font-size: 13px;
    line-height: 1.3;
  }
  /* line 198, ../../source/sass/_article.scss */
  article#article div.box:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  /* line 210, ../../source/sass/_article.scss */
  article#article div#leftside {
    width: 66%;
  }
  /* line 214, ../../source/sass/_article.scss */
  article#article div#rightside {
    width: 34%;
  }
  /* line 220, ../../source/sass/_article.scss */
  article#article div.box h1, article#article div.box h2, article#article div.box h3, article#article div.box h4 {
    line-height: 1.2;
  }
  /* line 224, ../../source/sass/_article.scss */
  article#article div.box h2 {
    font-size: 16px;
  }
  /* line 226, ../../source/sass/_article.scss */
  article#article div.box p {
    font-size: 12px;
    line-height: 1.2;
  }
  /* line 244, ../../source/sass/_article.scss */
  article#article ul.books:nth-child(2) {
    display: none;
  }
  /* line 250, ../../source/sass/_article.scss */
  article#article div.quote {
    display: none;
  }
}

/* line 1, ../../source/sass/_shared.scss */
p {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  line-height: 0.5;
}

/* line 10, ../../source/sass/_shared.scss */
.caps {
  text-transform: uppercase;
}

/* line 14, ../../source/sass/_shared.scss */
.clear {
  clear: both;
}

/* line 16, ../../source/sass/_shared.scss */
.full {
  width: 100%;
}

/* line 20, ../../source/sass/_shared.scss */
.bold {
  font-weight: bold;
}

/* line 26, ../../source/sass/_shared.scss */
.bor.purple {
  border-left: 3px #5e5b76 solid;
}
/* line 30, ../../source/sass/_shared.scss */
.bor.green {
  border-left: 3px #397359 solid;
}
